

body {
  background-image: linear-gradient(#c1f8f5, #7dddf0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}

.gifs {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.card {
  background-color: white;
  height: 400px;
  margin: 10px;
  flex: 30%;
  cursor: pointer;
}
.card-top {
  height: 80%;
  background-size: cover;
  background-position: center;
}

.card-footer {
  padding: 0px 10px;
  /* display: flex; */
}

.fa-heart {
  color: red;
  font-size: 2rem;
  margin: 10px;
  display: none;
}

a {
  text-decoration: none!important;
}

.search-form {
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(65, 67, 68);
  align-items: center;
  padding: 10px;
}

.nav-Links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50px;
  align-items: center;
}