

body {
  background-image: linear-gradient(#c1f8f5, #7dddf0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}

input {
  border: none;
  box-shadow: 0px 0px 10px 1px rgb(203, 203, 203);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 55px;
  width: 280px;
  margin: auto;
  font-size: 2rem;
}

.gifs {
  padding: 10px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
}

.card {
  background-color: white;
  height: 400px;
  margin: 10px;
  flex: 30%;
}
.card-top {
  height: 80%;
  background-size: cover;
  background-position: center;
}

.card-footer {
  padding: 0px 10px;
  /* display: flex; */
}

a {
  text-decoration: none;
}

.search-form {
  margin: auto;
}